extends ../layout/default_layout
include ../mixins/_loader.pug

block vars
  - levelAssets = "";
  - pageName = "Index";
  - resourceLocator = is_develop ? levelAssets : base_url;
  -
    var externalResourceLink = [
        {type: "link", resource:"https://fonts.googleapis.com/css2?family=Raleway&display=swap"},
        {type: "link", resource:"assets/css/controllers/form.controller.css"},
        {type: "script", resource:"assets/js/controllers/form.controller.js"}
    ]
block content
  append script
    script(src=resourceLocator+"js/customloader.js")
    //- script(src=resourceLocator+"js/ejemplo.js")
    +_loader({
      class: "loaderClassSpecial"
    })