include components/_loader.pug
include components/_input.pug
include components/_radio_checks.pug
include components/_textarea.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="assets/css/controllers/default.controller.css")
    body
        ul.DS__container--assets
            li {{[[link]]https://fonts.googleapis.com/css2?family=Raleway&display=swap"}}
            li {{[[link]]assets/css/controllers/form.controller.css}}
            li {{[[script]]assets/js/controllers/form.controller.js}}
        header.CM-header__header--bg
            h1 Tacos el corte 7
        .container
            .CM-tabs__header
                .CM-tabs__header--title
                    h2 Tacos el corte 7
                    span Av. Insurgentes Sur 620, Del Valle, 03100, Benito Juárez, CDMX
                .CM-tabs__header--list
                    ul
                        li
                            a.CM-tabs__button--active.CM-tabs__button--green(href="")
                                img(src="assets/img/icon-step-done.svg", alt="")
                                span Datos para la entrega
                        li
                            a.CM-tabs__button--purple(href="")
                                span
                                span Forma de pago
                        li
                            a.CM-tabs__button--gray(href="")
                                span
                                span Confirmación
            .CM-tabs__body
                .CM-tabs__body--right
                    form.CM-form(action="" method="")
                        fieldset
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            img(src="assets/img/icon-step-done.svg", alt="")
                            p.CM-form__section--title Ingresa los siguientes datos de contacto
                            p.CM-form__section--info Recibirás una notificación por parte del restaurante para confirmarte 
                                |cuando puedas pasar por tu pedido o puedas pasar a recogerlo. 
                            p
                                small.CM-form__section--small *Campos obligatorios
                            .CM-form__column--container
                                .CM-form__column--right
                                    +_input({
                                        name: "Nombre",
                                        id:"id1",
                                        labelClass:"CM-form__input--label",
                                        labelText: "*Nombre de quien recibe",
                                        inputClass:"CM-form__input--text",
                                        placeholder:"",
                                        type:"text",
                                        value:""
                                    })
                                .CM-form__column--left
                                    +_input({
                                        name: "telefono",
                                        id:"tel",
                                        labelClass:"CM-form__input--label",
                                        labelText: "*Teléfono de contacto",
                                        inputClass:"CM-form__input--text",
                                        placeholder:"",
                                        type:"tel",
                                        value:""
                                    })
                        fieldset
                            p.CM-form__section--title Elige el tipo de entrega:
                            p.CM-form__section--info El tiempo estimado de entrega puede variar entre cada restaurante.
                            ul.CM-form__delivery--inputs
                                li
                                    +_radio_check({
                                        name: "entrega",
                                        id:"domicilio",
                                        text: "<span>A domicilio</span> <img src='assets/img/domicilio.svg'/>",
                                        class:"CM-form__radio",
                                        value:"domicilio",
                                        type:"radio"
                                    })
                                li
                                    +_radio_check({
                                        name: "entrega",
                                        id:"pickup",
                                        text: "<span>Pick-up</span> <img src='assets/img/delivery.svg'/>",
                                        class:"CM-form__radio",
                                        value:"pickup",
                                        type:"radio"
                                    })
                        fieldset
                            p.CM-form__section--title-B A esta dirección te enviáremos tu pedido:
                            p
                                small.CM-form__section--small *Campos obligatorios
                            .CM-form__column--container
                                .CM-form__column--right.mb-17
                                    +_input({
                                        name: "calle",
                                        id:"calle",
                                        labelClass:"CM-form__input--label",
                                        labelText: "*Calle",
                                        inputClass:"CM-form__input--text",
                                        placeholder:"",
                                        type:"text",
                                        value:""
                                    })
                                .CM-form__column--left.mb-17
                                    +_input({
                                        name: "exterior",
                                        id:"exterior",
                                        labelClass:"CM-form__input--label",
                                        labelText: "*Num. exterior",
                                        inputClass:"CM-form__input--text",
                                        placeholder:"",
                                        type:"text",
                                        value:""
                                    })
                                .CM-form__column--right.mb-17
                                    +_input({
                                        name: "interior",
                                        id:"interior",
                                        labelClass:"CM-form__input--label",
                                        labelText: "*Núm. interior",
                                        inputClass:"CM-form__input--text",
                                        placeholder:"",
                                        type:"text",
                                        value:""
                                    })
                                .CM-form__column--left.mb-17
                                    +_input({
                                        name: "cp",
                                        id:"cp",
                                        labelClass:"CM-form__input--label",
                                        labelText: "*C.P.",
                                        inputClass:"CM-form__input--text",
                                        placeholder:"",
                                        type:"text",
                                        value:""
                                    })
                                .CM-form__column--right.mb-17
                                    +_input({
                                        name: "colonia",
                                        id:"colonia",
                                        labelClass:"CM-form__input--label",
                                        labelText: "*Colonía",
                                        inputClass:"CM-form__input--text",
                                        placeholder:"",
                                        type:"text",
                                        value:""
                                    })
                                .CM-form__column--left.mb-17
                                    +_input({
                                        name: "delegacion",
                                        id:"delegacion",
                                        labelClass:"CM-form__input--label",
                                        labelText: "*Delegación",
                                        inputClass:"CM-form__input--text",
                                        placeholder:"",
                                        type:"text",
                                        value:""
                                    })
                                    
                        fieldset
                            ul.CM-form__button--container
                                li
                                    button.CM-form__button.CM-form__button--disabled Continuar al pago
                                li
                                    button.CM-form__button.CM-form__button--cancel Cancelar
                .CM-tabs__body--left
                    form(action="", method="get")
                        .CM-summary
                            .CM-summary__title
                                h3 Resumen de pedido
                            .CM-summary__info
                                ul
                                    li
                                        .CM-summary__info--left
                                            span Productos: (4)
                                        .CM-summary__info--right
                                            a(href="#")
                                                img(src="assets/img/icon-arrow-show.svg", alt="")
                                    li
                                        .CM-summary__info--left
                                            span Subtotal:
                                        .CM-summary__info--right
                                            span $126.00

                                    li
                                        .CM-summary__info--left
                                            span Envío:
                                        .CM-summary__info--right
                                            span $0.00

                                    li
                                        .CM-summary__info--left
                                            span Total:
                                        .CM-summary__info--right
                                            span $126.00
                                button.CM-form__button.CM-form__button--cancel Agregar otro producto
                                fieldset
                                    +_textarea({
                                        name: "txt",
                                        id:"txt_area",
                                        labelClass: "CM-form__section--info",
                                        text: "Comentarios sobre tu pedido:",
                                        class:"CM-form__textarea",
                                        placeholder:"Comentario sobre agregar salsa, sin salsa el item X, sin cubiertos, etc."
                                    })
        +_loader({
            class: "loaderClassSpecial"
        })
        script(src="assets/js/controllers/default.controller.js")
        //- script(src="assets/js/controllers/form.controller.js")