
<head>
  <title> - </title>
  <meta charset="utf-8"/>
  <meta name="description"/>
  <meta name="keywords"/>
  <meta name="viewport" content="width.device-width, initial-scale=1, minimum-scale=1, manimum-scale=1"/>
  <link rel="stylesheet" href="assets/css/controllers/default.controller.css"/>
</head>
<body>
  <ul class="DS__container--assets">
    <li>{{[[link]]https://fonts.googleapis.com/css2?family=Raleway&amp;display=swap}}</li>
    <li>{{[[link]]assets/css/controllers/form.controller.css}}</li>
    <li>{{[[script]]assets/js/controllers/form.controller.js}}</li>
  </ul>
  <header class="CM-header__header--bg">
    <h1>Tacos el corte 7</h1>
  </header>
  <main>
    <script src="js/customloader.js"></script>
    <div class="CE__loader loaderClassSpecial">
      <div class="CE__loader--spiner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </main>
  <div class="CE__loader loaderClassSpecial">
    <div class="CE__loader--spiner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <script src="assets/js/controllers/default.controller.js"></script>
</body>